<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <form action='/auth/login' method='post'>
      username<br>
      <input name='username' /><br>
      password<br>
      <input name='password' /><br><br>
      <button>submit</button>
    </form>
  </body>
</html>
