<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <form action='/projects' method='post'>
      name<br>
      <input name='name' /><br>
      <button>submit</button>
    </form>
  </body>
</html>
